.hero{
  background: url("../images/hero/hero_background.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &::before{
    height: 100%;
    content: '';
    position: absolute;
    width: 100%;
    background: url('../images/hero/hero_background_overlay.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}